**api_test.py
import_monitoring.html
**taxon_dump.sql
tests/test_images/test_image.jpg~
tests/casbotany_sqlite_create.sh
**/test_hexdump.txt
**/test_image.jpg_original
**/ascii_hex.txt
.idea/
.idea/workspace.xml
**/workspace.xml
**/specify-asset-importer.iml
*.xml
output.txt
**/picturae_purge.sql
server_host_settings.py
**/tax_dump.sql
**/run_picdb.sh
**/dummy_cleaner.py
**/picdb_config.py
*.DS_Store Botany.txt
*.csv
*.RData
*_config.py
*/output.txt
*.Rhistory
*.csv
*.RData
*_config.py
*/output.txt
*.Rhistory
*-Botany.txt
**/iz_importer_config.py
/unmatched_taxa/*
**/picturae_purge_script.sql
*.pyc
.idea
venv
docker-compose.yml
settings.py
settings.production.py
settings.development.py
**/server_host_settings.development.py
**/server_host_settings.production.py
**/server_host_settings.py
/data
/env
*.JPG
*.TIF
.hidden_*
/tests/casbotany_lite.db
**/config_collections.json
**/bot_import_monitoring.html
**/ich_import_monitoring.html
**/iz_import_monitoring.html
**/pic_import_monitoring.html
*JPG*
*TIF*

